<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" /> 
    <title>Nike Shop</title>
</head>
<body>
    <div class="grid-container">
        <header class= 'header'>
            <div class="brand">
                <a href="index.html">NikeShop</a>
            </div>
            <div class='header-links'>
                <a href="cart">Cart</a>
                <a href="signin">Sign In</a>
            </div>
        </header>
        <!-- <aside>
            Shopping Categories
        </aside> -->
        <main class='main'>
            <div class='content'>
                <ul class='products'>
                    <li>
                        <div class='product'></div>
                        <img src="/images/DarkHoodieNike.jpeg" alt="product"/>
                        <div class='product-name'>Hoodies</div>
                        <div class='product-brand'>Nike</div>
                        <div class="price">$60</div>
                    </li>
                </ul>
            </div>
        </main>
        <footer class='footer'> All Rights Reserve</footer>
    </div>
</body>
</html>