
body {
  font-family: 'Courier New', Courier, monospace 1.6rem;
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
}
.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header{
  grid-area: header;
  background-color: black;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem
}

.brand a{
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a:hover{
  color: wheat;
}
.main{
  grid-area: main;
}
.footer{
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
a {
  text-decoration: none;
}
/* Home Screen */
.products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li{
  list-style-type: none;
  padding: 0;
  margin: 1rem;
  height: 49rem;
  border-bottom: .2rem #c0c0c0 solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 5%;
}
.product-name a{
  font-size: 1.5rem;
  font-weight: bold;
  color:black;  
}
.product-name a:hover{
  color: tan;
}
.product-brand{
  font-size: 1.2rem;
  color: #808080;
}
.product-price{
  font-size:2rem;
  font-weight: bold;
}
.product-image{
  max-width: 34rem;
  max-height: 34rem;
}
.product-rating{
  margin-bottom: 1rem;
}
/*  Sidebar */
.brand button{
  font-size: 3rem;
  padding: .5rem;
  background: none;
  border: none;
  color: whitesmoke;
  cursor: pointer;
}
/* .sidebar{
  position: fixed;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: wheat;
}
.sidebar .open{
  transform: translateX(0)
} */
